@use '../variables';

.infos-bar{ //Estilização da barra de informações do evento.
    padding: 16px 24px;
    background-color: variables.$textColor;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    &__infos{ //Alinhamento dos itens na mesma linha e espaçamento de 40px. 
        display: flex;
        gap: 40px;

        &__item{ //Tamanho da fonte e sobrescrever a regra geral de cor das letras para preto.
            font-size: 14px;
            color: variables.$secondaryTextColor;

            b{ //Título de cada item.
                color: variables.$secondaryTextColor;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px){ //Responsivo - Celualr.
        display: block; //Muda o alinhamento para sequencial - um em baixo do outro.

        &__infos{
            display: block;

            &__item{
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px){ //Responsivo - Tablet.
        &__infos{ //Redução do espaço entre os itens.
            gap: 16px;
        }
    }
}