@use 'variables';

.event{ //Estilização da seção de evento #1.
    padding: 80px 0;


    &--frontend{
        background-image: linear-gradient(variables.$cor1, variables.$cor2); //Degradê/Gradient de duas cores.
    }

    &--ux-ui{
        background-image: linear-gradient(variables.$cor2, variables.$cor3); //Degradê/Gradient de duas cores.
    }

    &--data-science{
        background-image: linear-gradient(variables.$cor3, variables.$cor4); //Degradê/Gradient de duas cores.
    }

    &--backend{
        background-image: linear-gradient(variables.$cor4, variables.$cor3); //Degradê/Gradient de duas cores.
    }

    &--image-left{ //Modificador que inverte a posição do texto e da imagem entre si.
        .container{
            flex-direction: row-reverse;
        }
    }


    .container{ //Posiciona o texto do lado esquerdo e a imagem do lado direito.
        display: flex;
        gap: 40px;
    }

    &__image{ //Tamanho máximo da imagem.
        max-width: 360px;
    }

    &__details{ //Espaçamento para distanciar o texto da imagem.

        &__title{ //Título do evento.
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description{ //Descrição do evento.
            line-height: 22px;
        }
    }

    @media (max-width:640px){ //Responsivo: Celular.
        .container{
            display: block; //Altera a distribuíção para texto e imagem logo abaixo.
        }

        &__image{ //Imagem ocupa apenas o tamanho do container.
            width: 100%;
        }

        &__details{ //Alteração do espaçamento do lado direto para o lado de baixo.
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}