//Cores de fundo da landing page. 
$cor1: #9c427a;
$cor2: #8b0480;
$cor3: #89223B;
$cor4: #9c791d;

//Cores do texto da landing page.
$textColor: #fff;
$secondaryTextColor: #000;
$tertiaryColor: #4f2ac3;
