@use 'hero'; //Importação do arquivo hero (a imagem de fundo do cabeçalho).
@use './components/infos_bar'; //Importação do arquivo info em subpasta (Informações do evento).
@use './components/buttons'; //Importação do arquivo de botões em subpasta (Configuração geral de botões).

* { //Reset css.
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    list-style: none;
}

.container{
    max-width: 960px; //O tamanho do container não pode passar dessa largura.
    width: 100%;
    margin: 0 auto; //Centralizar.

    @media (max-width: 640px) { //Responsivo - Celular. 
        max-width: 80%;
    }

    @media (max-width: 1024px){ //Responsivo - Tablet.
        max-width: 90%;
    }
}